* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  color: #484848;
  font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.75;
  overflow-x: hidden;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

a {
  color: #006c70;
}

a:hover {
  color: #006c70;
}

h1 {
  color: #333333;
  font-weight: 800;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.125rem;
  }
}

h2 {
  position: relative;
  color: #333333;
  font-size: 3.75rem;
  font-weight: 900;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    text-align-last: left;
  }
}

h2:before {
  position: absolute;
  top: -1.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #333333;
  content: "";
  height: 2px;
  width: 65px;
}

@media screen and (max-width: 767px) {
  h2:before {
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

h5 {
  color: #222222;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.0625rem;
  margin-bottom: 15px;
}

.container-lg {
  margin-bottom: 160px;
}

@media screen and (max-width: 1199px) {
  .container-lg {
    margin-bottom: 130px;
    max-width: 680px;
  }
}

@media screen and (max-width: 767px) {
  .container-lg {
    margin-bottom: 80px;
  }
}

.mw1280 {
  max-width: 1280px;
}

@media screen and (max-width: 1199px) {
  .small-text {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}

.lg-text {
  font-size: 2rem;
  line-height: 1.25;
}

@media screen and (max-width: 1199px) {
  .lg-text {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

.xl-text {
  font-size: 3.75rem;
  line-height: 4rem;
}

@media screen and (max-width: 1199px) {
  .xl-text {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

.xxl-text {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 4rem;
}

@media screen and (max-width: 1199px) {
  .xxl-text {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

.light-text {
  color: #767676;
}

.btn {
  font-size: 1rem;
  font-weight: 800;
  padding: 10px;
}

@media screen and (max-width: 1199px) {
  .two-column-item:not(:last-of-type) {
    margin-bottom: 40px;
  }
}

.two-column-item:first-child {
  padding-right: 60px;
}

@media screen and (max-width: 1199px) {
  .two-column-item:first-child {
    padding-right: 15px;
  }
}

.two-column-item .fa-check {
  color: #008489;
  font-size: 1.2rem;
  padding-right: 10px;
}

@media screen and (max-width: 1199px) {
  .three-column-item:not(:last-of-type) {
    margin-bottom: 40px;
  }
}

.navbar {
  height: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px #dddddd;
          box-shadow: 0 1px #dddddd;
  position: fixed;
  z-index: 1;
}

@media screen and (max-width: 1199px) {
  .navbar {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.navbar .navbar-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.navbar .navbar-brand .fab {
  font-size: 2.125rem;
  color: #006c70;
}

@media screen and (max-width: 1199px) {
  .navbar .navbar-brand .fab {
    color: #ffffff;
  }
}

@media screen and (max-width: 1199px) {
  .navbar .navbar-collapse .navbar-nav {
    display: none;
  }
}

.navbar .navbar-collapse .navbar-nav .nav-item:not(:last-of-type) {
  margin-right: 20px;
}

@media screen and (max-width: 1199px) {
  .navbar .navbar-collapse .navbar-nav .nav-item:not(:last-of-type) {
    margin-right: 15px;
  }
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #484848;
  font-size: 0.875rem;
  font-weight: 600;
  height: 80px;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #484848;
  text-decoration: underline;
}

.navbar .navbar-collapse .navbar-nav .active {
  border-bottom: 2px solid #008489;
}

.navbar .navbar-collapse .navbar-nav .active .nav-link {
  color: #008489;
}

.navbar .navbar-collapse .btn {
  border-radius: 0.5rem;
  font-size: 0.875rem;
  margin-right: 4rem;
  padding: 5px 15px;
}

@media screen and (max-width: 1199px) {
  .navbar .navbar-collapse .btn {
    display: none;
  }
}

.navbar.clone-nav {
  position: fixed;
  top: -100px;
  left: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
  height: 60px;
}

.navbar.clone-nav .navbar-brand {
  display: none;
}

@media screen and (max-width: 1199px) {
  .navbar.clone-nav .navbar-collapse .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar.clone-nav .navbar-collapse .navbar-nav .nav-link {
  height: 60px;
}

@media screen and (max-width: 1199px) {
  .navbar.clone-nav.is-fixed-nav {
    top: 0;
  }
}

.top-img {
  width: 100%;
  height: 600px;
  background-image: url(../img/top-img.jpg);
  background-size: cover;
  margin-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .top-img {
    height: 310px;
    margin-bottom: -140px;
  }
}

@media screen and (max-width: 767px) {
  .top-img {
    height: 240px;
    margin-bottom: -130px;
  }
}

.top-form {
  position: absolute;
  top: 160px;
  right: 100px;
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 30px;
  width: 460px;
}

@media screen and (max-width: 1199px) {
  .top-form {
    position: static;
    background-color: transparent;
    margin-bottom: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .top-form h1 {
    color: #ffffff;
    max-width: 800px;
    margin: 0 auto 40px;
  }
}

.top-form form {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.top-form p {
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .top-form p {
    font-size: 1.125rem;
  }
}

.top-form input[type="text"] {
  padding: 22px 10px;
}

.top-form .btn {
  border-radius: 0.5rem;
  font-weight: 600;
  width: 100%;
}

.hosting .far {
  font-size: 3rem;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .review-comment .comment-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.review-text.right {
  padding-left: 60px;
}

@media screen and (max-width: 1199px) {
  .review-text.right {
    padding-left: 30px;
  }
}

.review-text.left {
  padding-right: 60px;
}

@media screen and (max-width: 1199px) {
  .review-text.left {
    padding-right: 30px;
  }
}

.review-text .fas {
  color: #fdb32b;
  font-size: 2.5rem;
  font-weight: 700;
}

@media screen and (max-width: 1199px) {
  .review-text .fas {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1199px) {
  .review-text .light-text {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}

.review-text .btn {
  border: 2px solid;
}

.review-img img {
  width: 100%;
}

.warranty img {
  margin-top: 100px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .warranty img {
    margin-top: 60px;
    height: 670px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.data p {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .data p {
    text-align-last: left;
  }
}

.questions .two-column-item {
  padding-right: 0;
}

@media screen and (max-width: 1199px) {
  .questions .two-column-item:first-of-type {
    margin-bottom: -15px;
  }
}

.questions .two-column-item ul li {
  display: block;
  border-bottom: 1px solid #ebebeb;
  padding: 20px;
}

.questions .two-column-item ul li a {
  font-size: 1.125rem;
}

.details {
  margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
  .details {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .details .three-column-item {
    margin-bottom: 15px;
  }
}

.card {
  position: relative;
  border: none;
  width: 105%;
}

@media screen and (max-width: 1199px) {
  .card {
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0px 1px 2px #dddddd;
            box-shadow: 0px 1px 2px #dddddd;
  }
}

@media screen and (max-width: 767px) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.card .card-img-top {
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1199px) {
  .card .card-img-top {
    height: 105px;
  }
}

@media screen and (max-width: 767px) {
  .card .card-img-top {
    width: 75px;
    height: 75px;
  }
}

.card .card-body {
  padding-left: 0;
}

@media screen and (max-width: 1199px) {
  .card .card-body {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 767px) {
  .card .card-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card .card-body .card-title {
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.25rem;
  margin: 0 0 5px;
}

@media screen and (max-width: 1199px) {
  .card .card-body .card-title {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}

.card .card-body .card-text,
.card .card-body a {
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin: 0;
}

@media screen and (max-width: 1199px) {
  .card .card-body .card-text {
    line-height: 1;
  }
}

.card .card-body a {
  text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .card .card-body a {
    display: none;
  }
}

.card .card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.closing {
  width: 100%;
  height: 440px;
  background-image: url(../img/closing-img.jpg);
  background-size: cover;
  margin-bottom: 65px;
}

@media screen and (max-width: 767px) {
  .closing {
    height: 375px;
    margin-bottom: 45px;
  }
}

.closing .closing-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80%;
}

.closing .closing-box .xxl-text {
  margin-bottom: 40px;
}

.closing .closing-box .btn {
  -webkit-align-self: start;
      -ms-flex-item-align: start;
              -ms-grid-row-align: start;
          align-self: start;
  padding: 10px 20px;
}

footer {
  background-color: #f7f7f7;
  border-top: 1px solid #dddddd;
  padding: 0 80px;
}

@media screen and (max-width: 1199px) {
  footer {
    padding: 0 30px;
  }
}

footer .footer-menu {
  margin-bottom: 20px;
}

footer .footer-menu .four-columns {
  padding: 45px 0;
  border-bottom: 1px solid #dddddd;
}

@media screen and (max-width: 1199px) {
  footer .footer-menu .four-columns {
    padding: 35px 0 15px 0;
  }
}

@media screen and (max-width: 1199px) {
  footer .footer-menu .four-columns .four-column-item:not(:last-of-type) {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1199px) {
  footer .footer-menu .four-columns ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  footer .footer-menu .four-columns ul {
    display: block;
  }
}

footer .footer-menu .four-columns ul li {
  margin-bottom: 10px;
}

@media screen and (max-width: 1199px) {
  footer .footer-menu .four-columns ul li {
    width: 33%;
  }
  footer .footer-menu .four-columns ul li:not(:last-of-type) {
    padding-right: 10px;
  }
}

@media screen and (max-width: 1199px) and (max-width: 767px) {
  footer .footer-menu .four-columns ul li {
    width: 100%;
  }
}

footer .footer-menu .four-columns ul li a {
  color: #484848;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

footer .footer-copy {
  margin-bottom: 0;
  padding-bottom: 25px;
}

@media screen and (max-width: 1199px) {
  footer .footer-copy .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 1199px) {
  footer .footer-copy .footer-bottom .footer-left {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  footer .footer-copy .footer-bottom .footer-left {
    text-align-last: left;
  }
}

footer .footer-copy .footer-bottom .footer-left small {
  display: block;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

footer .footer-copy .footer-bottom .footer-left small a {
  color: #484848;
}

footer .footer-copy .footer-bottom .footer-left small a .br:after {
  content: "\A";
  white-space: pre;
}

@media screen and (max-width: 1199px) {
  footer .footer-copy .footer-bottom .footer-left small a .br:after {
    content: "";
  }
}

footer .footer-copy .footer-bottom .footer-left small ul {
  display: inline;
}

@media screen and (max-width: 1199px) {
  footer .footer-copy .footer-bottom .footer-left small ul {
    display: block;
  }
}

footer .footer-copy .footer-bottom .footer-left small ul li {
  display: inline;
}

footer .footer-copy .footer-bottom .footer-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  footer .footer-copy .footer-bottom .footer-right {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  footer .footer-copy .footer-bottom .footer-right {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

footer .footer-copy .footer-bottom .footer-right .language {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-copy .footer-bottom .footer-right .language p {
  font-size: 0.875rem;
  margin-right: 20px;
}

footer .footer-copy .footer-bottom .footer-right .language p .fas,
footer .footer-copy .footer-bottom .footer-right .language p span {
  margin-right: 5px;
}

footer .footer-copy .footer-bottom .footer-right .language p a {
  color: #484848;
  font-weight: 600;
  text-decoration: underline;
}

footer .footer-copy .footer-bottom .footer-right .sns-icons .fab {
  font-size: 1.125rem;
}

footer .footer-copy .footer-bottom .footer-right .sns-icons .fab:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  footer .footer-copy .footer-bottom .footer-right .sns-icons {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */